body {
  font-family: "Arial";
}
table,
th,
td {
  border: 1px solid black;
}
table {
  width: 100%;
  border-collapse: collapse;
}
#root {
  display: flex;
  justify-content: center;
  width: 100%;
}
#content {
  width: 300px;
}
